<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title th:text="|Folder ${cur.displayName}|"></title>
    <link rel="stylesheet" href="/res/style.css">
</head>
<body>

<a href="/">Back to root</a>
<br>
<a th:href="@{/folder?path={path}(path=${parent.path})}"
   th:text="|Up to ${parent.displayName}|"></a>

<h1 th:text="|Folder ${cur.displayName}|"></h1>
<h3>Folders:</h3>
<table>
    <tr th:each="folder:${folders}">
        <td>
            <a th:href="@{/folder?path={path}(path=${folder.path})}">
                <img src="/res/folder.svg" alt="folder" width="24px"/>
            </a>
        </td>
        <td>
            <a th:href="@{/folder?path={path}(path=${folder.path})}"
               th:text="${folder.displayName}"></a>
        </td>
    </tr>
</table>

<h3>Files:</h3>
<div id="filesList" class="listContainer">
    <div th:each="file:${files}" class="itemContainer increaseOnHover"
         th:id="${file.displayName}" th:data-ts="${file.timestamp}">
        <a th:href="@{/file(id=${file.id}, back=${back})}">
            <img th:src="|/preview/${file.id}|" th:alt="${file.displayName}"
                 class="itemContents"/>
        </a>
    </div>
</div>
</body>
</html>